body {
    background-color: rgb(0, 0, 0);
}

.content-section textarea, button, footer {
    color: gray;
}

.content-section textarea, footer {
    background: rgba(255, 255, 255, 0.1);
}

.content-section img {
    bottom: 0;
    height: 100vh;
}

@media only screen and (max-width: 800px) {
    .content-section img {
        height: 80vh;
    }
}